
div.centered{
    height: 10em;
    position: relative;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center
}

body {
    
    background-color: #C1DAE0;
}

form {
    top: 10%;
    margin-left: 20%;
}

input.numbers{
    text-align: center;
    margin-bottom: 2%;
    width: 15em;
    height: 2em;
    color: dimgray;
    font-size: 1em;
}

input[type=submit]{
    height: 4em;
    font-size: 1em;
}

input[type=submit]:hover{
    background-color: #E2E1E7;
}

div.buttons{
    margin-left: 5%;
    margin-top: 3%;
    
}

input.secondButton{
    margin-left: 10%;
}

h1{
    color: #775D57;
    font-size: 2.5em;
}

legend{
    font-size: 1.5em;
    color: #65808C
}

/* placing copyrights on the bottom */
footer{
    position:absolute;
    bottom: 0;
    width: 20%;
    height: 40px;   
}

/* for the smaller screens like tablets */
@media screen and (max-width: 700px) {
    body{
        background-color: #E2E1E7;
    }
    
    h1{
        color: #65808C;
    }

    /* add part where buttons are in vertical instead of horizontally */
    
    
}